#button_box {
	text-align: center;
	width: 960px;
	margin: auto;	
}

button {
	width: 250px ;
	height: 30px;
}

#container{
	overflow: auto;
	width: 960px;
	margin: auto;
}

.box {
	background-color: black;
	float: left;
	margin: 1px;
	margin: white;
}

.litbox {
	background-color: red;
}

.newrow {
	clear: both;
}